ghost/master/profile/
shell/master/profile/
ghost/master/savedata.json
ghost/master/log/
ghost/master/*_script_log.json
ghost/master/*_error.json
.vs/

# Unity
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]serSettings/
**/MemoryCaptures/
**/Recordings/
**/node_modules/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity paid assets
unity_prototype/ukagaka/Assets/KAWAII_ANIMATIOMS_100/
unity_prototype/ukagaka/Assets/KAWAII_ANIMATIOMS_100.meta
unity_prototype/ukagaka/Assets/anim/f2k_motion_pack01/
unity_prototype/ukagaka/Assets/anim/f2k_motion_pack01.meta
unity_prototype/ukagaka/Assets/anim/VRMA_MotionPack/
unity_prototype/ukagaka/Assets/anim/VRMA_MotionPack.meta
unity_prototype/ukagaka/Assets/com.IvanMurzak/
unity_prototype/ukagaka/Assets/com.IvanMurzak.meta
